.CategoryPage {
    min-height: 100vh;
    margin-top: 30px;
}

.CategoryPage .category_header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.CategoryPage .line {
    border: 2px solid #f7d58d;
    width: 500px;
    margin: auto;
    margin-top: 10px;
}

.CategoryPage .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 50px;
    margin-top: 30px;
    margin-bottom: 60px;
    /* background-color: red; */
}



@media (max-width: 1200px) {
    .CategoryPage .grid {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  
  @media (max-width: 1000px){
    .CategoryPage .grid {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px 30px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  
  @media (max-width: 600px) {
    .CategoryPage .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px 30px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .CategoryPage .category_header h1 {
      font-size: 24px;
  }

    .CategoryPage .line {
      width: 300px;
      margin-top: 5px;
  }
  }
  
  