

.landingPage{
    background-color: #2d2952;
    min-height: 100vh;
}

.landingPage .AnimationCoffee{
    padding-top: 50px;
}

.landingPage .btn_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
}